body {
  font-family: 'Dancing Script', cursive;
  font-family: 'Ubuntu', sans-serif;
}

   /* specials */
.dancing-Script{
  font-family: 'Dancing Script', cursive;
}

/* Navbar */
.blackmale{
  margin-left: auto;
}